body{
    padding: 0;
    margin: 0;
    font-family: Verdana;
    font-size: 2em;
    /* background-color: #b5c3d2; */
    /* text-align: center; */
    /* background-image: url(dice_bg.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(dice_bg.png);
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(dice_bg.png) no-repeat center center fixed;
}
#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;

}
#btnContainer{
text-align: center;

}
.buttons{
    font-size: 1.5em;
    padding: 10px 20px;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}
.buttons:hover{
    background-color: #041d37;
}
#myBTN{
    font-size: 3em;
    padding: 2px 25px;
    border-radius: 5px;
}
#mylabel{
    font-size: 3em;
    
}

#mysubmit{
    font-size: 1em;
}
h1{
    color: #007BFF;
    font-size: 45px;
}
form{
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(71, 161, 96, 0.518);
}
#textbox{
    width: 50%;
    text-align: center;
}
/*
button{
    cursor: pointer;
}
button:hover{
    background-color: #041d37;
    color: white;
}
#result{
    text-align: center;
    font-size: 1em;
    color: rgb(32, 32, 219);
    font-weight: bold;
}*/

#container{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    max-width: 67%;
    border: 2px solid lightblue;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}
#container:hover{
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.5);
    transition: 0.3s;
    background-color: aqua;
}
button{
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 10px;
    border:none;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    cursor: pointer;

}
button:hover{
    background-color: #041d37;
    transform: scale(1.1);
    transition: 0.2s;
}
button:active{
    background-color: #041d37;
    
}
input{
    font-size: 2rem;
    width:150px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

#diceresults{
    margin: 25px;

}
#diceImages img{
    width: 100px;
    height: 100px;
    margin: 10px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    
    /* cursor: pointer; */
    ;
}
#diceImages:hover img{
    transform: scale(1.1);
    transition: 0.5s;
    animation: bounce 0.5s ease infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
p{
    font-size: 1.5rem;
    color: #007BFF;
    text-align: center;
}
footer{
    background-color: lightgray;
}
header{
    text-align: center;
    background-color: lightgray;
    
}
.bounce-dice{
    font-size: 1em;
    animation: bounce 1s ease infinite;
}